html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container,  .wrap > .container-fluid {
    padding: 70px 15px 20px;
}

.alert-widget {
    margin-top: 50px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

/*@media (min-width: 768px) {*/
    .footer-links {
        /*float: left;*/
        width: calc(100% - 108px);
        margin-right: 20px;
    }
    .footer-counters {
        float: right;
        width: 88px;
        margin-top: -13px;
    }
/*}*/

@media (max-width: 767px) {
    .footer {
        padding-top: 5px;
    }
    .footer-counters {
        margin-top: 5px;
    }
}

.wrap-map {
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.container-map {
    height: calc(100% - 50px);
	position: relative;
	top: 50px;
	left: 0;
    padding: 0;
}

.main-form-position {
	background-color: #fff;
	z-index: 20;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.container-map > .container,  .container-map > .container-fluid {
    padding: 20px 15px 20px;
}

.wide-yandex-map {width: 100%; height: 100%; margin: 0; padding: 0;}
.inline-yandexmap {width: 100%; margin: 0; height: 250px;}
.h360-yandexmap {width: 100%; margin: 0; height: 360px;}
.h600-yandexmap {width: 100%; margin: 0; height: 600px;}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}





/***********************************************************************************************/
/* Список объектов, карта, Мои объявления */

    /* форма поиска */
    .center-index-form {margin-bottom: 30px; }

    /* заголовок */
    .serp-title {font-size: 1.6em; padding-right: 10px; }

    /* текст-подсказка под заголовком */
    .serp-text {color: #bbb; margin-top: 0px; margin-bottom: 7px;}

    /* ссылки над результатами поиска */
    .serp-links {margin-top: 8px; margin-bottom: 5px;}


/***********************************************************************************************/
/* Кликабельная карточка:
/* по умолчанию - center, при указании вместо "card" "card arenda" - объявление */
/* Также можно указать noclickable - перестанет быть кликабельным */

    /* основной блок */
    .card { margin-bottom: 30px; cursor: pointer; border: 1px solid #ddd;}
    .card:hover { background-color: #f8f8f8;}
    .card.noclickable {cursor: auto;}
    .card.noclickable:hover {background-color: #fff;}

    /* текст */
    .card-text {margin-bottom: 15px;}

    /* фото */
    @media (max-width: 389px) {
    	.card-image {margin: 15px 10px 10px 0px; width: 42%; float: left;}
    }
    @media (min-width: 390px) and (max-width: 767px) {
    	.card-image {margin: 15px 0 15px 15px; width: 32%; float: right;}
    }
    @media (min-width: 768px) {
    	.card-image {margin: 15px 0 15px 15px; width: 25%; float: right;}
        .arenda .card-image {margin: 15px 30px 15px 0px; width: 25%; float: left;}
    }

    /* логотип */
    .card-logo {display: none;}

    @media (min-width: 768px)  {
        .card-logo {
            display: block;
            margin: 15px 15px 15px 0;
            width: 10%;
            float: left;
            border: 1px solid #aaa;
        }
        .card-logo img {
            width: calc(100% - 20px);
            margin: 10px 10px 10px 10px;
        }
    }

    /* текст в правой колонке */
    .card-params {margin-bottom: 15px;}
    .card-params ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }

    .card-params li {
        list-style-type: none; /* Убираем маркеры */
    }

    @media (min-width: 768px) {
    	 .card-params {float: right; width: 15%; margin-right: 30px; margin-left: 30px; }
    }

    .buttton-width-100 {width: 100%; margin-bottom: 15px;}


/***********************************************************************************************/
/* Кликабельная карточка объекта-тизера */

	.tgbcol { border: solid 1px #fff; z-index:20; cursor: pointer; min-height: 270px; margin-bottom: 15px;}
	.tgbcol:hover {
		z-index:21;
		border: solid 1px #66afe9 !important;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(102, 175, 233, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(102, 175, 233, 0.6);
	}
	.pb {display: none; position: absolute; bottom: 15px; right: 15px; font-size: 0.85em;}
	.tgbcol:hover .pb {display: block;}

	.tgb 	{overflow: hidden; margin: 15px 0; position: relative; top: 0; left: 0;}
	.tgbimg 		{position: relative; top: 0; left: 0; margin-bottom: 15px;}
	.tgbimg img 	{width: 100%;}

    @media (min-width: 768px)
    {
        .row-flex1234, .row-flex1234 > div[class*='col-'] { margin-top: 15px; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex:1 1 auto;}
        .row-flex1234-wrap {	-webkit-flex-flow: row wrap; align-content: flex-start; flex:0;	}
        .row-flex1234 > div[class*='col-'] { margin:-.2px;}
    }


/***********************************************************************************************/
/* Шрифты */
/* Заголовки h1, h2, h3 и остальные в BS неадаптивны и задаются в пикселях. Исправляем так: */
/* Внутри любого h* текст обрамляем тегами <p></p> */
/* и делаем адаптивный относительный размер шрифта у h*>p (см. код ниже): */

    @media (max-width: 389px) {
        h1>p {font-size: 0.75em;}
        h2>p {font-size: 0.80em;}
        h3>p {font-size: 0.85em;}
        h4>p {font-size: 0.90em;}

        p {font-size:0.9em;}
    }

    @media (min-width: 390px) and (max-width: 767px) {
        h1>p {font-size: 0.8em;}
        h2>p {font-size: 0.85em;}
        h3>p {font-size: 0.90em;}
        h4>p {font-size: 1.00em;}
    }

    .italic {font-style: italic}
    .lgray {color: #ccc;}
    .dgray {color: #aaa;}


/*******************************************************************************************/
/* Страница коворкинга */

    /* Логотип */
    .center-view-logo {display: block; margin: 0px 15px 5px 0; width: 90px; float: left; border: 1px solid #aaa;}

    .center-view-logo img {width: calc(100% - 20px); margin: 10px 10px 10px 10px; }

    @media (max-width: 389px)
    {
      .center-view-logo {width: 60px;}
      .center-view-logo img {width: calc(100% - 10px); margin: 5px; }
    }


    /* Нужен отступ после описания центра (иначе на него наезжает надпись над фото), но не всегда.  */
    .special-interval {
        /*@media (max-width: 767px) {*/
            margin-bottom: 30px;
        /*}*/
    }


    /* Список из трех ближайших станций метро */
    .closest-metro {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .closest-metro ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .closest-metro li {
        list-style-type: none; /* Убираем маркеры */
    }


/*******************************************************************************************/
/* Разные специальные классы */

    /* Иконка метро, используется в span */
    .metro-icon {
        background: url('/img/moscow_metro.png') no-repeat 0px 0px; padding-left: 24px;
    }


    .comments .comment-author-avatar img {
        width: 50px;
    }

    .main-page-center-image {width: 100%; margin-top: 30px;}



/*******************************************************************************************/
/* Кнопки "Войти" и "Зарегистрироваться" */

    .login-button {width: 100%;}

    .login-button-container {margin: 15px auto 30px;}

    .register-button-container {margin: -5px auto 30px;}

    @media (max-width: 389px) {
        .login-button-container, .register-button-container {width: 100%;}
    }

    @media (min-width: 390px) {
      .login-button-container, .register-button-container {width: 200px;}
    }


/*******************************************************************************************/
/* Кнопка "Подать объявление" */

    .new-arenda-button {margin-top: 10px;}

    @media (max-width: 389px) {.new-arenda-button {width: 100%!important; } }

    @media (min-width: 768px) {.new-arenda-button-container {float: right !important; } }


/*******************************************************************************************/
/* Кнопка "Фильтр" на яндекс-картах: */
    .my-button {
        display: inline-block;
        padding: 4px 10px;
        /*background: #eee;*/
        border: 1px solid #bbb;
        border-radius: 3px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    .my-button__text {
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        /*color: #333;*/
        margin-left: 10px;
    }

    .my-button__img {
        padding: 0;
        margin-bottom: -3px;
    }

    .my-button_small .my-button__text {
        display: none;
    }

    .my-button_medium .my-button__img {
        display: none;
    }

    .my-button_large .my-button__text {
        margin-left: 10px;
    }
    .my-button-selected {
        color: #333333;
        background-color: #e6e6e6;
        border: 2px dashed #333;
    }

    .redlabel {display: block !important; position: absolute; top: 7px; right: 0px; padding: 0 7px; color: #fff; background-color: #f00; font-size: 0.9em; font-weight: bold;}
    /*.redlabel {display: block !important; position: absolute; top: 7px; left: 0px; padding: 0 7px; color: #fff; background-color: #f00; font-size: 0.9em; font-weight: bold;}*/
    /*@media (max-width: 519px) { .redlabel {display: none;}}    */
